:root{
    --fs-h1: 3rem;

    --color-primary: rgb(238, 238, 238);

}

/* .alphabet{
    position: absolute;
    background-color: #c38b1e;
} */

.letters{
    max-width: 700px;
    margin: 0 auto;
    
}
.letters-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    text-align: center;
}

.letter{
    padding: 8px 8px;
    border-radius: 15px;
    width: 100%;
    margin: 0;
    text-decoration: none;
    font-size: var(--fs-h1);
    background-color: #fff000;
    cursor: pointer;
    font-family: starwars;
    color: var(--color-text);
    transition: 100ms;
}

.letter:hover{
    outline: 2;
    background: rgb(253, 248, 141);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.486);
}

.letter:active{
    /* transform: scale(0.5); */
    background: rgb(219, 208, 0);
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

.remove{
    display: none;
}
