.hang-img{
    width: 100%;
    text-align: center;
    margin-top: 12rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 0;

}
.hang-img img{
    width: 600px;


}

@media screen and (max-width:600px) {
    .hang-img img{
        width: 450px;
    }
    .hang-img{
        margin-top: 17rem;
    }
}

@media screen and (max-width:450px) {
    .hang-img img{
        width: 350px;
    }
    .hang-img{
        margin-top: 20.5rem;
    }
}
