.title-container{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

}

.play{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
}

.play-btn{
    border-radius: 12px;
    font-size: 3rem;
    border: 0;
    max-width: 200px;
    color: var(--color-text);
    background-color: #fff000;
    box-shadow: 0 0 0 3px rgba(173, 163, 13, 0.603);
    cursor: pointer;
    font-family: starwars;
    padding: 15px 15px;
    transition: 200ms;
}
.play-btn:hover,.category-btn:hover,
.play-btn:focus, .category-btn:focus {
  outline: 2;
  background: rgb(255, 245, 65);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.603);
}
.play-btn:active, .category-btn:active{
    transform: scale(0.9);
    background: rgb(219, 208, 0);
}

.categories{
    position: relative;
}

.categories-wrapper{
    position: absolute;
    left: 0; 
    right: 0; 
    top: 150px;
    margin-left: auto; 
    margin-right: auto; 
    width: 580px;
}
.categories-flex{
  display: flex;
  justify-content: center;
}
.category-btn{
  text-align: center;
  border-radius: 12px;
  font-size: 2rem;
  margin: 0.5rem;
  border: 0;
  color: var(--color-text);
  background-color: #fff000;
  cursor: pointer;
  font-family: starwars;
  padding: 10px 15px;
  box-shadow: 0 0 0 3px rgba(141, 132, 10, 0.486);
  transition: 200ms;
}

.api-box{
  background-color: #ddd99c;
  border-radius: 12px;
  margin-top: 25rem;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.603);
  text-align: center;
}

.api-box h2{
  padding: 1rem 0.5rem;
}


