
.wordplace{
    position: relative;
}

.wordplace-wrapper{
    right: 0;
    left: 0;
    top: -160px;
    position: absolute;
    letter-spacing: 0.08em;
    z-index: -100;
}

.wordplace-list{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1rem 0;
}

.wordplace-item{
    margin: 0 0.5rem;
    font-size: 3rem;
    color: var(--color-button-selected);
    font-weight: bold;
}

.current-category{
    text-align: center;
    text-transform: capitalize;
    margin: 1.5rem;
    color: #4d380d;
    max-width: 22rem;
    margin: 0 auto;
    background-color: #dea83e;
    padding: 0.7rem;
    border-radius: 10px;
}

@media screen and (max-width:580px) {
    .wordplace-item{
        margin: 0 0.3rem;
        font-size: 2rem;
    }
    .current-category{
        font-size: 1.2rem;
        max-width: 300px;
        margin: 0 auto;
    }
    .wordplace-wrapper{
        top: -140px;
    }
}