@font-face {
  font-family: starwars;
  src: url(./Fonts/SWdistand.ttf);
  font-style: normal;
  font-weight: 100;
}

:root{
  --color-text: #252422;
  --color-text-light: #CFD5DE;
  --color-button: #3C3E3E;
  --color-button-selected: #5e5f5f;
}

body{
  background-color: rgb(198, 239, 255);
  font-family: starwars;
  letter-spacing: 2px;
  font-weight: 100;
  color: var(--color-text);
}

.App {
  text-align: center;
}

.background{
  position: absolute;
  top: 32.5rem;
  background-color: #c38b1e;
  width: 100%;
  height: 445px;
  z-index: -10;
}

.sun-one img, .sun-two img{
  width: 100%;
}

.sun-one{
  position: absolute;
  top: -25rem;
  right: 20rem;
  width: 12%;
}

.sun-two{
  position: absolute;
  top: -33rem;
  right: 0rem;
  width: 18%;
}


.mountain-two img, .mountain img{
  width: 100%;
}

.mountain{
  position: absolute;
  top: -6rem;
  left: 0.5rem;
  width: 25%;
}

.mountain-two{
  position: absolute;
  top: -6rem;
  right: 0rem;
  width: 30%;
}

@media only screen and (max-width: 1250px){
  .mountain{
    width: 20%;
    top: -4rem;
  }
  .mountain-two{
    top: -3rem;
    width: 20%;
  }
}

@media only screen and (max-width: 980px){
  .mountain{
    display: none;
  }
  .mountain-two{
    display: none;
  }
  .sun-one{
    position: absolute;
    top: -29rem;
    right: 9rem;
  }
}
